<div class="row">
  <div class="box">
    <h2>Welcome to Todo-it!</h2>
    <form (submit)="onSignupSubmit()">
      <div role="alert" *ngIf="formError" class="alert alert-danger">
        {{ formError }}
      </div>
      <div class="form-group">
        <label for="name">Full Name</label>
        <input
          class="form-control"
          id="name"
          name="name"
          [(ngModel)]="credentials.name"
        />
      </div>
      <div class="form-group">
        <label for="email">Email Address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          [(ngModel)]="credentials.email"
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="pasword"
          class="form-control"
          id="password"
          name="password"
          [(ngModel)]="credentials.password"
        />
      </div>
      <p>Already have an account? <a routerLink="/login">Sign in</a></p>
      <button mat-raised-button color="primary">Signup</button>
    </form>
  </div>
</div>
