<style>
:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  width: 800px;
  margin: 50px auto;
  padding: 0 20px 20px;
}

img.center {
  display: block;
  margin: 0 auto;
}
</style>

<!DOCTYPE html>
<html>
  <head>
    <title>ToDo-it</title>
  </head>
  <body>
    <!-- Adding a logo image -->
    <img class="center" src="assets/Todoit_logo.png" alt="ToDo-it logo" width="200" height="200">

    <h1>ToDo-it</h1>
    <h3>ToDo things faster and better.</h3>
    <p>ToDo-it is a simple and easy-to-use todo application that helps you stay organized and get things done.</p>
    <p>With ToDo-it, you can create tasks, set due dates and reminders, and track your progress towards completing your goals.</p>
  </body>
</html>
