<!DOCTYPE html>
<html>
  <head>
    <title>ToDo-it</title>
  </head>
  <body>
    <img class="center" src="assets/Todoit_logo.png" alt="ToDo-it logo" width="200" height="200">
    <div class="main">
      <div class="task">
        <h1>My Task List</h1>
        <form (keyup.enter)="addTask(taskName.value, taskDesc.value, 0, taskDate.value, [taskModule.value], assignedUsers, assignedProjects)">
          <label for="addTaskName">Name:</label><br>
          <input #taskName placeholder="add a task" class="lg-text-input" id="addTaskName"><br>
          <label for="addTaskDesc">Description:</label><br>
          <input #taskDesc placeholder="add a description" class="lg-text-input" id="addTaskDesc"><br>
          <label for="addTaskDate">Date:</label><br>
          <input #taskDate type="date" id="taskDate"><br>
          <label for="addTaskModule">Module List:</label><br>
          <input #taskModule placeholder="add modules" class="lg-text-input" id="addTaskModule"><br>
          <label for="addAssignedUsers">Assigned Users:</label><br>
          <select #assignedUsersSelect id="addAssignedUsers" class="lg-text-input">
            <option *ngFor="let user of assignedUsers" [value]="user.emailAdress">{{ user.firstName }}</option>
          </select><br>
          <label for="addAssignedProjects">Assigned Projects:</label><br>
          <select #assignedUsersSelect id="addAssignedProjects" class="lg-text-input">
            <option *ngFor="let project of assignedProjects" [value]="project.id">{{ project.name }}</option>
          </select><br>
        </form>
        <button class="btn-primary" (click)="addTask(taskName.value, taskDesc.value, 0, taskDate.value, [taskModule.value], assignedUsers, assignedProjects)">Add</button>
      </div>
      
      <h2>{{tasks.length}} <span *ngIf="tasks.length === 1; else elseBlock">task</span> 
        <ng-template #elseBlock>tasks</ng-template></h2>
        
        <ul>
          <li *ngFor="let i of tasks">
            <app-task (remove)="remove(i)" [task]="i"></app-task>
          </li>
        </ul>
        
    </div>
  </body>
</html>
