<div class="task">
    <input [id]="task.desc" type="checkbox" (change)="task.done = !task.done" [checked]="task.done" />
    <label [for]="task.name">{{task.name}}</label>
    <label [for]="task.desc">{{task.desc}}</label>
    <label [for]="task.date">{{task.date}}</label>
    <label [for]="task.modules">{{task.modules}}</label>
    <label [for]="task.assignedUsers">{{task.assignedUsers.toString()}}</label>
    <label [for]="task.assignedProjects">{{task.assignedProjects.toString()}}</label>
    <button class="btn btn-warn" (click)="remove.emit()">Delete</button>
</div>