<h1 mat-dialog-title>Create Task</h1>
<div mat-dialog-content>
  <form [formGroup]="taskForm" (ngSubmit)="save()">
    <mat-form-field>
      <mat-label>Task Name</mat-label>
      <input matInput formControlName="name" required />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="desc"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Due Date</mat-label>
      <input matInput formControlName="date" type="date" required />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Modules</mat-label>
      <textarea matInput formControlName="modules"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Assign Users</mat-label>
      <mat-select formControlName="assignedUsers" multiple matInput>
        <mat-option *ngFor="let user of assignedUsers" [value]="user">{{ user.firstName }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Assign Project</mat-label>
      <mat-select formControlName="assignedProjects" multiple matInput>
        <mat-option *ngFor="let project of assignedProjects" [value]="project">{{ project.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <div mat-dialog-actions>
      <button mat-button (click)="close()">Cancel</button>
      <button mat-button color="primary" type="button" (click)="save()" [disabled]="taskForm.invalid">Save</button>
    </div>
  </form>
</div>
