<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/app/teams" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Teams</a>
      <a mat-list-item routerLink="/app/projects" routerLinkActive="activebutton" ariaCurrentWhenActive="page"
        >Projects</a
      >
      <a mat-list-item routerLink="/app/tasks" routerLinkActive="activebutton" ariaCurrentWhenActive="page">To-dos</a>
      <a mat-list-item routerLink="/app/users" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Users</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>To-do It</span>
      <div class="spacer"></div>
      <button mat-icon-button (click)="sync()" aria-label="Start Synchronization">
        <mat-icon>sync</mat-icon>
      </button>
      <button routerLink="/app/profile" mat-icon-button arial-label="Profile">
        <mat-icon>person</mat-icon>
      </button>
    </mat-toolbar>
    <main>
      <!-- Add Content Here -->
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
