.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 185px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar .mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.main-app {
  margin: 32px;
  list-style-type: none;
}

.spacer {
  flex: 1 1 auto;
}
