<body>
  <header class="home-header">
    <img class="logo" src="assets/logo.png" alt="To-do It logo" width="200" height="200" />
    <div>
      <h1>To-do It</h1>
      <h2>To help you do it faster.</h2>
      <h3>Available for everyone, for free, forever.</h3>
      <div class="button-group">
        <button mat-raised-button color="primary" routerLink="/login">Login</button>
        <button mat-raised-button color="primary" routerLink="/signup">Sign Up</button>
      </div>
    </div>
  </header>
</body>
