<body>
  <header class="home-header">
    <img class="logo" src="assets/logo.png" alt="To-do It logo" width="200" height="200" />
    <div>
      <h1>To-do It</h1>
      <h2>To help you do it faster.</h2>
      <h3>Available for everyone, for free, for ever.</h3>
      <ul>
        <li><a routerLink="/login" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Login</a></li>
        <li><a routerLink="/login" routerLinkActive="activebutton" ariaCurrentWhenActive="page">sign up</a></li>
      </ul>
    </div>
  </header>
</body>
