<h1>Projects</h1>
<h2>
  {{ projects.length }} <span *ngIf="projects.length <= 1; else taskPlural">project</span>
  <ng-template #taskPlural>projects</ng-template>
</h2>

<li *ngFor="let project of projects">
  <div class="project">
    <label [for]="project.name">{{ project.name }}</label>
    <div class="desc">{{ project.desc }}</div>
    <ng-container *ngIf="project.tasks">
      <div class="tasks">
        <span *ngFor="let task of project.tasks">
          {{ task.name }}
        </span>
      </div>
    </ng-container>
    <button class="btn-wrapper" mat-raised-button color="warn" (click)="deleteProject(project)">Delete</button>
  </div>
</li>
<button class="creation-bottom-right" mat-fab (click)="openDialog()" aria-label="Add">
  <mat-icon>add</mat-icon>
</button>
