<h1>Teams</h1>
<h2>
  {{ teams.length }} <span *ngIf="teams.length <= 1; else TeamPlural">Team</span>
  <ng-template #TeamPlural>Teams</ng-template>
</h2>

<li *ngFor="let team of teams">
  <div class="team">
    <label [for]="team.name">{{ team.name }}</label>
    <div class="desc">{{ team.description }}</div>
    <ng-container *ngIf="team.members">
      <div class="members">
        <span *ngFor="let member of team.members">
          {{ member.name }}
        </span>
      </div>
    </ng-container>

    <ng-container *ngIf="team.tasks">
      <div class="tasks">
        <span *ngFor="let task of team.tasks">
          {{ task.name }}
        </span>
      </div>
    </ng-container>

    <ng-container *ngIf="team.projects">
      <div class="projects">
        <span *ngFor="let project of team.projects">
          {{ project.name }}
        </span>
      </div>
    </ng-container>

    <button style="bottom: 16px; position: absolute" mat-raised-button color="warn" (click)="deleteTeam(team)">
      Delete
    </button>
  </div>
</li>

<button class="creation-bottom-right" mat-fab (click)="openDialog()" aria-label="Add">
  <mat-icon>add</mat-icon>
</button>
