<div class="task">
  <h1>My Task List</h1>
  <form
    (keyup.enter)="addTask(taskName.value, taskDesc.value, taskDate.value, [taskModule.value], users, projects)"
  >
    <label for="addTaskName">Name:</label><br />
    <input #taskName placeholder="add a task" class="lg-text-input" id="addTaskName" /><br />

    <label for="addTaskDesc">Description:</label><br />
    <input #taskDesc placeholder="add a description" class="lg-text-input" id="addTaskDesc" /><br />

    <label for="addTaskDate">Date:</label><br />
    <input #taskDate type="date" id="taskDate" /><br />

    <label for="addTaskModule">Module List:</label><br />
    <input #taskModule placeholder="add modules" class="lg-text-input" id="addTaskModule" /><br />

    <label for="addAssignedUsers">Assigned Users:</label><br />
    <select #usersSelect id="addAssignedUsers" class="lg-text-input">
      <option *ngFor="let user of users" [value]="user.emailAdress">{{ user.firstName }}</option></select
    ><br />

    <label for="addAssignedProjects">Assigned Projects:</label><br />
    <select #projectsSelect id="addAssignedProjects" class="lg-text-input">
      <option *ngFor="let project of projects" [value]="project.id">{{ project.name }}</option></select
    ><br />
  </form>

  <button
    class="btn-primary"
    (click)="addTask(taskName.value, taskDesc.value, taskDate.value, [taskModule.value], users, projects)"
  >Add Task
  </button>
</div>

<h2>
  {{ tasks.length }} <span *ngIf="tasks.length <= 1; else taskPlural">task</span>
  <ng-template #taskPlural>tasks</ng-template>
</h2>

<ul class="users">
  <li *ngFor="let task of tasks">
    <input [id]="task.desc" type="checkbox" (change)="task.done = !task.done" [checked]="task.done" />
    <label [for]="task.name">{{ task.name }}</label>
    <div class="desc">{{ task.desc }}</div>
    <div class="date">{{ task.date }}</div>
    <div class="modules">{{ task.modules }}</div>

    <ng-container *ngIf="task.assignedUsers">
      <div class="assignedUsers">
        <span *ngFor="let user of task.assignedUsers">
          {{ user.firstName }}
        </span>
      </div>
    </ng-container>

    <ng-container *ngIf="task.assignedProjects">
      <div class="assignedProjects">
        <span *ngFor="let project of task.assignedProjects">
          {{ project.name }}
        </span>
      </div>
    </ng-container>
    <button class="btn btn-warn" (click)="deleteTask(task)">Delete</button>
  </li>
</ul>
