<h1>Tasks</h1>
<h2>
  {{ tasks.length }} <span *ngIf="tasks.length <= 1; else taskPlural">task</span>
  <ng-template #taskPlural>tasks</ng-template>
</h2>

<li *ngFor="let task of tasks">
  <div class="task">
    <input [id]="task.desc" type="checkbox" (change)="task.done = !task.done" [checked]="task.done" />
    <label [for]="task.name">{{ task.name }}</label>
    <div class="desc">{{ task.desc }}</div>
    <div class="date">{{ task.date }}</div>
    <ng-container *ngIf="task.assignedUsers">
      <div class="assignedUsers">
        <span *ngFor="let user of task.assignedUsers">
          {{ user.name }}
        </span>
      </div>
    </ng-container>
    <ng-container *ngIf="task.assignedProjects">
      <div class="assignedProjects">
        <span *ngFor="let project of task.assignedProjects">
          {{ project.name }}
        </span>
      </div>
    </ng-container>

    <div class="btn-wrapper" *ngIf="!editable">
      <button style="margin-right: 8px" mat-flat-button color="accent" (click)="editable = !editable">Edit</button>
      <button mat-flat-button color="warn" (click)="deleteTask(task)">Delete</button>
    </div>

    <!-- This section shows only if user clicks Edit button -->
    <div *ngIf="editable">
      <input
        class="sm-text-input"
        placeholder="edit name"
        [value]="task.desc"
        #editedTask
        (keyup.enter)="saveTask(task, editedTask.value)"
      />

      <div class="btn-wrapper">
        <button style="margin-right: 8px" mat-flat-button color="accent" (click)="editable = !editable">Cancel</button>
        <button mat-flat-button color="warn" (click)="saveTask(task, editedTask.value)">Save</button>
      </div>
    </div>
  </div>
</li>

<button class="creation-bottom-right" mat-fab (click)="openDialog()" aria-label="Add">
  <mat-icon>add</mat-icon>
</button>
